html{
    scroll-behavior: smooth;
}
*{
    padding:0;
    margin:0
}
body{
    background-color:#F5F5F5;
}
nav{
    width:100%;
    overflow:hidden;
    height:80px;
    background-color:white;
    margin:0px auto;
}
#nav1{
    text-align:center;
    border-bottom: 1px solid #D6D6D6;
}
#nav1>ul{
    display:inline-block;
    list-style:none;
}
#nav1>ul li{
    float:left;
    padding:0 30px;
    line-height:80px
}
a{
    text-decoration:none;
    color:#000000;
    font-size:15px;
}
#everytime{
    width:70px; 
    height:70px;
    position: absolute;
    top:5px;
    left:50px;
}
.text{
    margin-top: 20%;
    text-align: center;
    line-height: 300%;
}
.home-section{
    width:100vw;
    height: 100vh;
}
.home-section.text h1{
    font-size: 30px;
}
.result{
    align-items: center;
}