<!DOCTYPE html>
<html>

<head>

    <title>Page Title</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />

    <style>
        h1 {
            font-size: 30px;
            font-weight: 900;
            /*
            text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
            */
        }
    </style>
</head>

<body>
    <div>
        <nav id="nav1">
            <ul>
                <img src="img/everytime.png" id="everytime-img" alt="My Image">
                <li><button id="home-button"><a href="#home">Home</a></button></li>
                <li><button id="login-button" onclick="login()">Let's
                        Meet</button></li>
                <li><button id="timetable-button"><a href="#timetable">Timetable</a></button></li>
            </ul>
        </nav>
    </div>

    <!-- Home Section Start -->
    <section class="home-section" id="home">
        <div class="text">
            <h1>Hard to make time with people?</h1>
            <h1><span style="color:#ce280f">Try us</span></h1>
        </div>
        <div class="arrow">
            <a href="#timetable" class="scroll-down">
                <img src="img/arrow-down.png" id="arrow-down-img" alt="scroll Down">
            </a>
        </div>
    </section>
    <!-- Home Section End -->

    <!-- TimeTable Section Start -->
    <section class="timetable-section" id="timetable">
        <div class="display">
            <div class="timetable-example">
                Timetable Example
            </div>
            <div class="map-example">
                Map Example
            </div>
        </div>
    </section>
    <!-- TimeTable Section End -->

    <script>


        function login() {
            // fetch("/login", { method: "GET" })
            //     .then((res) => console.log(res.text()));

            let w = window.open("html/login.html", 'popUpWindow', 'height=500,width=400,left=100,top=100,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=yes,directories=no, status=yes');
            //checking login 
            // w.onload = function () {
            //     console.log(w.document);
            // };

            // console.log(w.location.href);


        }

    </script>
</body>

</html>