body{
    background-color: #F8F8F8;
}
.friendlist{
    position: absolute;
    left:50%;
    margin-left: -400px;
    align-items: center;
}
.headerbox {
    position:absolute;
    left:50%;
    margin-left: -330px;
    margin-top:60px;
    height: 30px;
    width: 700px;
    display: inline-block;
    align-items: center;
    justify-content: center;
}
.box1{
    height: 30px;
    float: left;
}
.box2{
    height: 30px;
    float: right;
}
#confirm{
    background-color: #AD3826;
    padding: 5px;
    color:white;
    border: 1px solid black;
    border-radius: 5px;
}
.list{
    margin-top:100px;
}
ul li {
    background: white;
    list-style: none;
    height: 30px;
    width: 700px;
    justify-content: center;
    padding-left: 20px;
    padding-top: 10px;
    border: 1px solid #E3E3E3;
    font-size: 15px;
}