@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0
}

body {
    background-color: #F5F5F5;
}

nav {
    width: 100%;
    overflow: hidden;
    height: 80px;
    background-color: white;
    margin: 0px auto;
    position: fixed;
    top: 0;
    z-index: 3;
}

#nav1 {
    text-align: center;
    border-bottom: 1px solid #D6D6D6;
}

#nav1>ul {
    display: inline-block;
    list-style: none;
}

#nav1>ul li {
    float: left;
    padding: 0 30px;
    line-height: 80px
}

a {
    text-decoration: none;
    color: #000000;
    font-size: 15px;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

button {
    border: 0;
    outline: 0;
    background-color: white;
}

#everytime-img {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 5px;
    left: 50px;
}

.home-section {
    background-image: url('../img/skku2.png');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    padding-top: 80px;
    text-align: center;
    line-height: 300%;
}

#arrow-down-img {
    width: 30px;
}

.arrow {
    position: absolute;
    bottom: 10px;
}

.display {
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timetable-example {

    float: left;
    width: 500px;
    height: 720px;
    text-align: center;
    margin: 30px;
    overflow: hidden;
    white-space: nowrap;
}

.friendlist-example {
    display: inline-block;
    width: 300px;
    height: 700px;
    text-align: center;
    margin: 30px;
}

.list {
    overflow-y: auto;
    height: 550px;
    width: 320px;
}

.list-title {
    height: 30px;
    margin-bottom: 5px;
    padding-left: 10px;
    align-items: center;
}

.list>ul li {
    background: white;
    list-style: none;
    height: 30px;
    width: 300px;
    border: 1px solid #E3E3E3;
    font-size: 15px;
    margin-left: -30px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

#confirm {
    background-color: #AD3826;
    padding: 5px;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 10px;
}

.list {
    overflow-y: auto;
    height: 550px;
    width: 320px;
}

.list-title {
    height: 30px;
    margin-bottom: 5px;
    padding-left: 10px;
    align-items: center;
}

.list>ul li {
    background: white;
    list-style: none;
    height: 30px;
    width: 300px;
    border: 1px solid #e3e3e3;
    font-size: 15px;
    margin-left: -30px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}